useDynLib(IFCip, .registration = TRUE)
export("moments_Hu")
export("moments_Zernike")
export("centroid")
export("cmoment")
export("rmoment")
export("ExtractFeatures")
export("ExtractBasic")
export("compute_intensity")
export("compute_perimeter")
export("compute_similarity")
export("compute_shape")
export("compute_haralick")
export("as_IFC_features")
import(IFC)
importFrom(Rcpp, evalCpp)
importFrom(stats, na.omit, sd)
importFrom(utils, globalVariables, packageVersion)
